
aside {
  padding: 10px 10px;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5a5a5a;
  padding: 5px 5px;
}

main div img {
  max-height: 200px;
  max-width: 200px;
  align-self: center;
  margin-bottom: 20px;
}

main div input {
  border: 0;
  height: 45px;
  background-color: #fafafa;
  color: #020202;
  font-size: 16px;
}

main div input:hover {
  background-color: orangered;
  color: #ffffff;
}