main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
  background-color: #dadada;
  width: 240px;
}

.bookImage {
  max-width: 150px;
  align-self: center;
}

main div input {
  border: 0;
  height: 45px;
  width: 200px;
  margin-top: 15px;
  background-color: #fafafa;
  color: #020202;
  font-size: 16px;
  align-self: center;
}

main div input:hover {
  background-color: orangered;
  color: #ffffff;
}

