
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkgray;
  padding: 0px 20px;
}

nav {
  display: flex;
  margin-right: 5px;
}

nav a {
  padding: 10px 20px;
  background-color: #fafafa;
  margin-left: 5px;
  align-self: center;
  color: #020202;
  text-decoration: none;
}

nav a:hover {
  background-color: orangered;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  height: 80vh;
}

main div {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: royalblue;
  align-self: center;
}


main div p {
  font-size: 24px;
  text-align: center;
  padding: 0px 10px;
  color: #ffffff;
  align-self: center;
}